# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/forge-1.16.5-36.0.22-mdk.zip
/LICENSE.txt
/README.txt
/forge-stuff/
